.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  padding: 10px 0;
}
.container {
  padding: 16px;
  background-color: #121212;
  min-height: 80vh;
  color: #ffffff;
  font-family: sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}


.categoriesContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 12px;
  margin-bottom: 20px;

}
.categoriesContainer::-webkit-scrollbar {
  display: none; /* Для Chrome/Safari */
}

.categoryTab {
  padding: 8px 16px;
  background-color: #252525;
  border-radius: 20px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #333333;
  color: #b3b3b3;
  cursor: pointer;
}

.categoryTabActive {
  padding: 8px 16px;
  background-color: #ff9900;
  border-radius: 20px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  border: 1px solid #ff9900;
  cursor: pointer;
}

/* Сетка товаров: 2 колонки на мобилках */
.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* Карточка товара */
.card {
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #252525;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Исправлено: картинка не будет сжиматься некрасиво */
}

.productName {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #ffffff;
}

.productDesc {
  font-size: 11px;
  color: #a0a0a0;
  margin-bottom: 12px;
  line-height: 1.3;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; Ограничение в 2 строки, чтобы карточки были одной высоты */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Исправлено: выравнивание по центру по вертикали */
  margin-top: auto;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.addBtn {
  background-color: #ff9900;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendOrder{
  text-align: center;
}



.sendOrder button{
  background-color: #ff9900;
  border: none;
  width: 180px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out; 
  margin-top: 10px;
}


.sendOrder button:hover{
   width: 188px; /* Чуть увеличили ширину */
   height: 40px; /* Чуть увеличили высоту */
}


.addBtn:active {
  background-color: #e68a00; /* Эффект нажатия кнопки на мобилке */
}