:root {
  --bg-main: #0F0E0C;
  --bg-card: #1E1B18;
  --color-primary: #DDA15E; /* Янтарный золотой */
  --color-text: #FFFFFF;
  --color-text-muted: #A0A0A0;
  --color-accent: #E63946; /* Красный для ХИТ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
